name: Build & Push Docker Images

on:
  push:
    branches: [ "docker-ci/cd" ]

permissions:
  contents: read
  packages: write
  id-token: write  # для логина в ghcr по OIDC

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      IMAGE_WEB: ghcr.io/iudicio/santiway-web
      IMAGE_VENDOR: ghcr.io/iudicio/santiway-vendor
      IMAGE_ESWRITER: ghcr.io/iudicio/santiway-eswriter
      IMAGE_APKBUILDE: ghcr.io/iudicio/santiway-apkbuilde
      IMAGE_WORKER: ghcr.io/iudicio/santiway-worker
      TAG: latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Сборка образов
      - name: Build & push Web
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_WEB }}:${{ env.TAG }}

      - name: Build & push Vendor
        uses: docker/build-push-action@v6
        with:
          context: ./microservices/Vendor
          file: ./microservices/Vendor/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_VENDOR }}:${{ env.TAG }}

      - name: Build & push ESWriter
        uses: docker/build-push-action@v6
        with:
          context: ./microservices/ESWriter
          file: ./microservices/ESWriter/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_ESWRITER }}:${{ env.TAG }}
      
      - name: Build & push ApkBuilde
        uses: docker/build-push-action@v6
        with:
          context: ./microservices/ApkBuilde
          file: ./microservices/ApkBuilde/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_APKBUILDE }}:${{ env.TAG }}

      - name: Build & push worker
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.worker
          push: true
          tags: |
            ${{ env.IMAGE_WORKER }}:${{ env.TAG }}
